aiogram==3.4.1
aiogram-media-group==0.5.1
aiohttp==3.9.3
loguru==0.7.2
numpy==1.26.4
opencv-contrib-python==4.10.0.84
opencv-python==4.10.0.82
pandas==2.2.1
pillow==10.2.0
pydantic==2.5.3
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
requests==2.31.0
dynaconf==3.2.5
